@charset "UTF-8";


body{
	margin: 0;
	padding: 0;
	margin-top: 8px; 
}

.container {
	box-sizing: border-box;
	padding: 10px;
	
}
table {
		border-collapse: collapse;
		background-color:#C7EDCC;
		width: 100%;
		max-height: calc(60%);
	}
table tr>td,table tr>th {
		border:1px solid #ccc;
		padding:5px 15px;
}

#tbl tr>td:first-child {
	text-align: center;
}

#tbl tr>td:first-child>input,#tbl tr>th:first-child>input {
	width:15px;
	height:15px;
}


.op>ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.op>ul>li{
	display: inline-block;
}
.op>ul>li>a{
	text-decoration: none;
	color:#fff;
	display: inline-block;
	background-color: #0099CC;
	padding: 5px 20px; 
	
}

.op>ul>li>a.del-btn{
	
	background-color: #FF0033;
}

.op>ul>li>a.depart-btn{
	
	background-color: #FF0033;
}


.paginate {
	position: fixed;
	bottom: 5px;
	right: 0px;
	text-align: right;
	margin-top: 10px;
	user-select: none;
	
}


.paginate>* {
	display: inline-block;
}

.paginate>span {
	background-color: #0099CC;
	border: 1px solid #aaa;
	padding: 4px 10px;
	cursor: pointer;
}

.paginate ul,.paginate>#bt {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.paginate ul>li {
	display: inline-block;
}

.paginate ul>li>a {
	cursor: pointer;
	font-size: 18px;
	padding: 0 5px;
}
.paginate ul>li>.qq{
	color:red;
}

.paginate>#bt {
	border: 1px solid #aaa;
	padding: 4px 10px;
	margin: 0;
	width: 30px;
	height: 21px;
	margin-right: 4px;
}
.paginate>select{
	
	border: 1px solid #aaa;
	margin: 0;
	width: 50px;
	height: 31px;
	margin-right: 4px;
}

/* 搜索区样式 */
.search-form form>div>input {
	width: 300px;
	height: 40px;
	outline: none;
	border: 1px solid #ccc;
	font-size: 16px;
	padding-left: 8px;
}

.search-form form>div {
	display: inline-block;
	margin-bottom: 10px;
}

.search-form form>div>label {
	width: 90px;
	text-align: right;
	display: inline-block;
}

.portrait {
	position: absolute;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 75px;
	transition: all 0.5s;
}

